<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/applicant']" routerLinkActive="router-link-active">Applicant <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/std100m']" routerLinkActive="router-link-active">Std100m <span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>